main {
  position: relative;
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  /*height: 100%;*/
  overflow: hidden;
  background-color: #F6F6F6;
}

main .sidebar {
  position: fixed;
  padding-top: 80px;
  width: 210px;
  height: 100%;
  background-color: #F6F6F6;
  transition: 382ms cubic-bezier(0.0,0.0,0.2,1);
  box-sizing: border-box;
  z-index: 4;
}

main.toggle .sidebar{
  transform: translate3d(-210px,0,0);
}

main .sidebar .stone {
  height: 100%;
  overflow-y: auto;
}

main .sidebar .container {
  flex-grow: 1;
}

main .sidebar .container .user {
  margin-bottom: 34px;
  width: 100%;
  /*height: 190px;*/
}

main .sidebar .container .user .user-icon {
  /*width: 100%;*/
  height: 190px;
}

main .sidebar .container .user .user-icon img {
  width: 117px;
  height: 117px;
  /*border-radius: 50%;*/
  /*overflow: hidden;*/
}

main .sidebar .container .user .user-name, .user-brief {
  cursor: default;
  margin-left: 12px;
  margin-right: 12px;
}

main .sidebar .container .user .user-brief {
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*main .sidebar .container .user .user-brief::after {
  content: "\002026";
  float: right;
  /*margin-left: -14px;
  width: 14px;
  height: 18px;
  background-color: #ddaadd;
}*/

main .sidebar .container .menu {
  /*width: 100%;*/
}

main .sidebar .container .menu ul li a {
  display: block;
  height: 48px;
  padding-left: 20px;
  font-size: 15px;
  line-height: 48px;
  font-weight: 500;
  transition: 0.17s;
}

main .sidebar .container .menu ul li a:hover {
  background-color: rgba(0,0,0,0.05);
}

main .sidebar .container .menu .current {
  color: #FF0033;
  background-color: rgba(0,0,0,0.05);
}

main .sidebar .copyright {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #aaa;
  font-size: 12px;
  line-height: 16px;
}

main .view {
  float: right;
  padding-top: 64px;
  width: calc(100% - 210px);
  transition: 382ms ease;
}

main.toggle .view {
  width: 100%;
}

main .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

@media screen and (max-width: 480px) {
  main .view {
    width: 100%;
  }


}