main .view .share {
  width: 94%;
  transition: 0.311s linear;
}

main .view .share .stone {
  max-width: 530px;
  min-width: 140px;
  /*兼容edge/safari*/
  width: 100%;
  height: 100%;
}

main .view .share .stone + .stone {
  margin-left: 2%;
}

main .view .share .stone .tale {
  margin-top: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

main .view .share .stone .tale .strik {
  padding: 16px;
  height: 36px;
}

main .view .share .stone .tale:hover .right .timeout{
  display: none;
}

main .view .share .stone .tale:hover .right .more {
  display: block;
}

main .view .share .stone .tale .strik .left .user-name {
  margin-left: 6px;
}

main .view .share .stone .tale .strik .left .user-name, .alt, .right .timeout {
  line-height: 36px;
}

main .view .share .stone .tale .right .more {
  display: none;
}



main .view .share .stone .tale .dsc {
}

main .view .share .stone .tale .dsc img {
  display: block;
  width: 100%;
  /*height: auto;*/
}

