main {
  box-sizing: border-box;
  padding-top: 64px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .pad {
  height: 64px;
}

main .sidebar, main .ince {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

main .sidebar {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: -220px;
  width: 210px;
  transition: 0.45s ease;
}

main.sidebar-toggle  .sidebar{
  margin-left: 0;
}

main .sidebar .container {
    /*--所有元素只有一个grow时默认填充所有剩余空间，空间不足时缩回到默认宽高--*/
    flex-grow: 1;
}

main .sidebar .container .user {
  margin-bottom: 34px;
}

main .sidebar .container .user .user-icon {
  width: 210px;
  height: 210px;
  overflow: hidden;
}

main .sidebar .container .user .user-name, .user-brief {
  cursor: default;
}

main .sidebar .container .user .user-brief {
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*main .sidebar .container .user .user-brief::after {
  content: "\002026";
  float: right;
  /*margin-left: -14px;
  width: 14px;
  height: 18px;
  background-color: #ddaadd;
}*/

main .sidebar .container .menu ul li {
  font-weight: bold;
}

main .sidebar .container .menu ul li a {
  display: block;
  margin-bottom: 12px;
  height: 48px;
  padding-left: 20px;
  font-size: 17px;
  line-height: 48px;
}

main .sidebar .container .menu ul li a:hover {
  background-color: rgba(0,0,0,0.1);
}

main  .sidebar .copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #aaa;
  font-size: 12px;
  line-height: 16px;
}